<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.24.1.min.js'></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

    <title>Quiz4</title>
</head>
<body style="background-color:teal;">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/page2.html">Page2</a></li>
    <li><a href="/page3.html" class="active">Page3</a></li>


</ul>
<div style="float:right;">
    <h1>Shruthaja P Rao</h1>
    <h2>1002118604</h2>
</div>
<div style="margin-top:3%;">

    <form action="/page3.html" method="post">
        <input type="text" placeholder="Enter String" name="string">
        <input type="submit">
    </form>
</div>
<div style="margin-top:3%;" id="myDiv">
</div>
<div style="margin-top:3%;" id="myDiv1">
</div>
<div style="margin-top:3%;" id="myDiv4">
</div>
<script>


var data=[
 {
    y: {{k|safe}},
     transforms: [{
    type: 'sort',
    target: 'x',
    order: 'ascending'
  }],
    x: {{v}},
    type: 'histogram',
    orientation:'h',
  }
];

Plotly.newPlot('myDiv4', data);

var data = [
  {
    y: {{k|safe}},
     transforms: [{
    type: 'sort',
    target: 'x',
    order: 'ascending'
  }],
    x: {{v}},
    type: 'bar',
    orientation:'h',
  }
];

Plotly.newPlot('myDiv', data);

var data = [{
  values: {{v}},
  labels: {{k|safe}},
  type: 'pie'
}];

var layout = {
  height: 400,
  width: 500};

Plotly.newPlot('myDiv1', data, layout);


</script>

</body>
</html>